* {
  margin-left: 7%;
  margin-right: 7%;
}
.mafont {
  font-family:"Lucida Console", monospace;
}
.column {
  float: left;
  width: 30%;
  padding-left: 1.65%;
  padding-right: 1.65%;
  margin-left: 0%;
  margin-right: 0%;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
h1, h2, h3, p{
  color: rgb(35,35,45);
}
html {
  background-color: rgb(245,245,235);
}
